* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1rem;
  font-weight: normal;
  color: #333;
  font-family: "Open Sans", sans-serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

@media only screen and (max-width: 992px) {
  html {
    font-size: 60%;
  }
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.3rem;
  color: #7a7a7a;
  line-height: 2.4rem;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.section__wrapper {
  width: 65%;
  margin: 0 5% 0 auto;
}

section {
  padding: 80px 0;
}

/* NAV STYLE */
.navbar {
  width: 25%;
  height: 100%;
  background: rgba(12, 12, 12, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 999;
}

.navbar__container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.navbar__logo {
  height: 150px;
  width: 100%;
  background: #45489a;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__logo a {
  color: #fff;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  border: 1px solid rgba(250, 250, 250, 0.5);
  width: 80%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__logo a span {
  font-weight: normal;
}

.navbar__toggle {
  width: 40px;
  height: auto;
  cursor: pointer;
  display: none;
}

.navbar__toggle .bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #333;
}

.navbar__toggle .bar:not(:last-child) {
  margin-bottom: 5px;
}

.navbar__list {
  width: 80%;
  margin: 0 auto;
}

.navbar__item:not(:last-child) {
  margin-bottom: 2rem;
}

.navbar__link {
  color: #fff;
  font-size: 1.4rem;
  text-transform: capitalize;
  font-family: "Open Sans", sans-serif;
  padding: 1.2rem 1.5rem;
}

.navbar__link:hover .circle {
  background: #fff;
}

.navbar__link:hover .line {
  width: 50px;
}

.navbar__link .circle {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #fff;
  transition: all 0.3s ease;
}

.navbar__link.active .circle {
  background: #fff;
}

.navbar__link .line {
  width: 0;
  height: 1.5px;
  background: #fff;
  display: inline-block;
  vertical-align: middle;
  transition: all 0.5s ease;
}

.navbar__link.active .line {
  width: 50px;
}

.navbar__social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 1.5rem 3rem;
}

.navbar__social .icon__wrapper {
  font-size: 2rem;
  color: #fff;
}

.navbar__social .icon {
  transition: all 0.3s ease;
}

.navbar__social .icon:hover {
  color: #45489a;
}

@media only screen and (max-width: 992px) {
  .navbar {
    width: 30%;
  }
}

@media only screen and (max-width: 768px) {
  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    height: 80px;
  }

  .navbar__container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar__logo,
  .navbar__social {
    display: none;
  }

  .navbar__toggle {
    display: block;
  }

  .navbar__list {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    text-align: center;
  }

  .circle,
  .line {
    display: none !important;
  }
}

/* END NAV STYLE */

/* START HEADER STYLES */
.header {
  width: 100%;
  height: 100vh;
}

.header__content {
  height: inherit;
}

.header__slider {
  position: relative;
  height: inherit;
}

.slider {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  padding-right: 3rem;
}

.slider-1 {
  background: url(../img/slide_1.jpg) center no-repeat;
  background-size: cover;
}

.header__image {
  height: inherit;
}

.header__title {
  font-size: 5rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.2rem;
  text-transform: capitalize;
  line-height: 1.6;
}

.header__subtitle {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.1rem;
  margin: 2rem 0;
}

.btn {
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: auto;
  color: #45489a;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #45489a;
  color: #fff;
}

.header__control {
  width: 120px;
  height: 50px;
  position: absolute;
  top: 50px;
  right: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.control__btn {
  width: 50px;
  height: 50px;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #fff;
  transition: alla 0.3s ease;
}

.control__btn:hover .control__icon {
  animation-play-state: paused;
  opacity: 1;
}

.control__icon {
  transition: all 0.3s ease;
  animation: control-lighten 3s infinite 0.5s;
}

@keyframes control-lighten {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }

  80% {
    opacity: 0.2;
  }

  100% {
    opacity: 1;
  }
}

.control--btn:hover .control__icon {
  color: #fff;
  opacity: 1;
}

@media only screen and (max-width: 992px) {
  .header__text {
    width: 55%;
  }
}

@media only screen and (max-width: 768px) {
  .header__text {
    width: 100%;
    padding: 0 2.5rem;
    text-align: center;
    right: 0;
  }

  .btn {
    margin: auto;
  }

  .header__control {
    top: 600px;
  }
}

/* END HEADER STYLES */

/* START FEAUTERS STYLES */

.features {
  position: relative;
  border-bottom: 1px solid #eee;
}

.section__heading {
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.section__desc {
  font-size: 1.6rem;
  font-weight: 400;
  color: #343434;
  width: 70%;
  line-height: 1.6;
}

.section__header {
  font-size: 3.5rem;
  font-weight: normal;
}

.section__header span {
  font-weight: 700;
  color: #45489a;
}

.slider__control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 120px;
  right: 20px;
  width: 110px;
}

.slider__control .control__btn {
  background: #eee;
}

.slider__control .control__icon {
  color: #232323;
}

.control__btn:hover {
  background: #45489a;
}

.control__btn:hover .control__icon {
  color: #eee;
}

.features__content {
  display: grid;
  grid-template-columns: repeat(4, minmax(calc(100% / 3 - 2rem), 1fr));
  grid-template-rows: 1fr;
  grid-gap: 3rem;
  overflow: hidden;
}

.features__slider__image {
  position: relative;
  overflow: hidden;
  margin-bottom: 2rem;
}

.features__slider__image__cta {
  position: absolute;
  bottom: -40px;
  left: 0;
  width: 100%;
  height: 40px;
  background: #45489a;
  text-align: center;
  line-height: 40px;
  text-transform: capitalize;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  transition: all 0.3s ease-in;
  opacity: 0;
  cursor: pointer;
}

.features__slider__image:hover .features__slider__image__cta {
  bottom: 0;
  opacity: 1;
}

.features__slider__title {
  font-size: 2.2rem;
  font-weight: 600;
  color: #232323;
  margin-bottom: 5px;
}


.features__slider__subtitle {
  color: #7a7a7a;
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
}

.slider__bullets {
  margin-top: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.bullet {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  background: #cdcdcd;
  cursor: pointer;
}

.bullet:not(:last-child) {
  margin-right: 5px;
}

.bullet.active {
  background: #45489a;
}

/* END FEAUTERS STYLES */